#wp-polls-pollbar-bg {
	width: 25px;
	height: 25px;
	border: 1px solid #000000;
}
#wp-polls-pollbar-border {
	width: 25px;
	height: 25px;
	border: 1px solid #000000;
}

.poll-answer-image-preview img {
	max-width: 48px;
	max-height: 48px;
	vertical-align: middle;
	margin: 0 6px;
}
